@tailwind base;
@tailwind components;
@tailwind utilities;
 
.hide-scrollbar {
    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
  
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.containImage {
    background-image: url(https://images.pexels.com/photos/842571/pexels-photo-842571.jpeg?auto=compress&cs=tinysrgb&w=600);
     overflow: hidden;
     background-size: cover;
     position: fixed;
     min-width: 0;
     width: 29.6vw;
     top: 0;
     right: 0;
     height: 100%;
     object-fit: cover;
     filter: blur(1px) brightness(50%);
     z-index: -20;
     padding-left: 0.8em;
    background-color: #f0e8e82e;
   
}

.updateImage{
    color: white;
    filter:none;
    padding-top: 12em;
    z-index: 100;
    text-align: center;
   
}

