

#containerImageCard{
    height: 50%;
    width: 100%;
}

#containerContentCard{
    height: 50%;
    width: 100%;
    padding-top: 3em;
}

#imageCard{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#containerFoodCardInside{
    padding: 0;
    overflow-y: scroll;
    height: 98vh;
    padding-bottom: 8px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#containerFoodCardInside::-webkit-scrollbar {
    display: none;
}

#quantity{
    width: 90%;
}

#imageInside{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width:1224px ) {
    #containerFoodCard{
        height: 100vh;
        width: 30vw;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        right: 0;
    }
}